<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="Ecco il calendario delle attività!</h2>
                <hr class="light">
                                 <center>
                                 <iframe src="https://calendar.google.com/calendar/embed?src=upbulor766pn33jm6rptig5dm8%40group.calendar.google.com&ctz=Europe%2FRome" style="border: 0" width="640" height="400" frameborder="0" scrolling="no"></iframe>
                <p class="text-faded">Ti aspettiamo!</p>
                <a href="#services" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
